.scorecard {
    border: 1px solid black;
    list-style-type:none;
    width: 50%;
    display:inline-block;
    padding-left: 0px;
}

.team-name{
    width:50%;
    display: inline-block;
    text-align: left;
}

.team-wins{
    width:40%;
    display: inline-block;
    text-align: right;
}

.team-winner{
    font-weight: bold;
}

ul {
    list-style-type:none;
    text-align: center;
}

a {
    display: inline-block;
    padding: 0px;
    margin: 0px
}

#date-layout{
text-align: center;
}

.date{
    width: 200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
